body
{
	background-color: #d5e8ee;
	color: #000000;
	font-family: 'Lato', sans-serif;
}

#logo-strony
{
	padding-top: 30px;
	padding-bottom: 15px;
	background-color:  #0099ff;
	font-family: 'Roboto', sans-serif;
	width: 100% ;
	text-align: center;
	font-size: 65px;
	color: white;
	border-bottom: 4px solid #15B5CA;
	border-top: 4px solid #15B5CA;
	max-height: 220px;
}

#cytat
{
	letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
	padding-top: 10px;
	font-size: 18px;
}

#stopka
{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color:  #0099ff;
	font-family: 'Roboto', sans-serif;
	width: 100% ;
	text-align: center;
	font-size: 15px;
	color: white;
	border-bottom: 4px solid #15B5CA;
	border-top: 4px solid #15B5CA;
	max-height: 50px;
	position: fixed;
	bottom: 0;
}

.navbar
{
	min-height: 80px;
}

.bg-wlasne
{
	background-color: #353535;
	font-size:20px;
	border-bottom: 4px solid #15B5CA;
}

.icon-shopping-bag
{
	color: #15B5CA;
}

.icon-menu-outline
{
	color: #15B5CA;
}

.icon-money-1
{
	color: #15B5CA;
}

.icon-chart-line
{
	color: #15B5CA;
}

.icon-logout
{
	color: tomato;
}

.artykul-main
{
	margin-top: 60px;
	margin-left: auto;
	margin-bottom: 40px;
	margin-right: auto;
	width: 80%;
	text-align: center;
}

.artykul-main p
{
	padding-top: 30px;
	font-size: 16px;
	text-align: justify;
}

.radio
{
	text-align: left;
}

.przychod
{
	margin-top: 60px;
	margin-left: auto;
	margin-bottom: 40px;
	margin-right: auto;
	width: 400px;
	text-align: center;
}

.wydatek
{
	margin-top: 60px;
	margin-left: auto;
	margin-bottom: 40px;
	margin-right: auto;
	width: 400px;
	text-align: center;
}